<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Bem vindo!</h1>
        </div>
    </div>


        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-12">
                <p class="text-justify text-monospace">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, sit? 
                    Cumque, libero? Rem velit illum qui fugit quos voluptatibus repellat itaque ex sequi sit reiciendis quasi, 
                    ducimus quis minus ullam.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Fuga maiores mollitia dicta neque rerum pariatur velit inventore, 
                    labore alias ex hic eum voluptatum cupiditate et, 
                    perferendis, rem eaque dolor. Aliquam.
                </p>
        </div>
    
</div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-ippercase font-weigth-bold">Ver o feed</button>
        </div>
    </div>


